b {
    font-family: "Open Sans", sans-serif;
    color: #31546d;
    display: block;
    text-align: center;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; /* 108.696% */
    margin: 0 auto;
    margin-top: 90px;
  }
.Rectangle {
    width: 58px;
    height: 4px;
    display: inline-block;
    border-radius: 24px;
    background: #f2f2f2;
    margin-top: 16px;
    margin-bottom: 30px;
  }
.filter {
    display: flex;
    align-items: center;
    gap: 90px;
    margin-left: 100px;
    text-transform: capitalize;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    color: #31546d;
  }
.filter span {
    font-family: "Open Sans", sans-serif;
    color: #9ab0c0;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    margin-right: 10px;
    line-height: 30px; /* 187.5% */
  }
  
.filter h4 > svg {
    font-family: "Open Sans", sans-serif;
    margin-left: 10px;
  }
  
.product {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 17px;
    margin: 40px auto;
  }
.product .product1 {
    width: 22%;
    height: 340px;
    border-radius: 30px;
    background: #fff;
    margin-bottom: 30px;
    /* Drop Shadow */
    box-shadow: 0px 4px 50px 0px rgba(120, 143, 156, 0.25);
  }
.product .product1 h4 {
    font-family: "Open Sans", sans-serif;
    max-width: 270px;
    text-transform: uppercase;
    color: var(--gray-2, #4f4f4f);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
.product1 h4 span {
    font-family: "Open Sans", sans-serif;
    color: #317189;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
  }
.product1 img {
    display: inline-block;
    max-width: 170px;
    max-height: 170px;
  }
  .product1 #first,
  .best-price button {
    font-family: "Open Sans", sans-serif;
    border: none;
    display: inline-block;
    color: #fff;
    padding: 16px 50px;
    text-transform: uppercase;
    border-radius: 18px;
    cursor: pointer;
    margin-block: 20px 40px;
    background: linear-gradient(90deg, #75cceb 0%, #6fb4ff 100%);
    box-shadow: 0px 10px 25px 0px rgba(112, 184, 251, 0.45);
  }
  .product1 button {
    font-family: "Open Sans", sans-serif;
    display: inline-block;
    color: #6fb4ff;
    padding: 16px 50px;
    text-transform: uppercase;
    background-color: transparent;
    border-radius: 18px;
    border: 2px solid #6fb4ff;
    cursor: pointer;
    margin-block: 20px 40px;
    transition: all, 0.3s;
  }
  .product1 button:hover {
    color: #fff;
    background: linear-gradient(90deg, #75cceb 0%, #6fb4ff 100%);
    box-shadow: 0px 10px 25px 0px rgba(112, 184, 251, 0.45);
  }
  button {
    font-family: "Open Sans", sans-serif;
    display: block;
    margin: 0 auto;
    color: #6fb4ff;
    padding: 16px 40px;
    font-size: 17px;
    background-color: transparent;
    border-radius: 18px;
    border: 2px solid #6fb4ff;
    cursor: pointer;
    margin-block: 20px 40px;
    transition: all, 0.3s;
  }
  button:hover {
    color: #fff;
    background: linear-gradient(90deg, #75cceb 0%, #6fb4ff 100%);
    box-shadow: 0px 10px 25px 0px rgba(112, 184, 251, 0.45);
  }